<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Stodd C Minecraft</title>
</head>

<body>
    <header>
        <h1 id="title"><a href="/">Stodd C Minecraft</a></h1>
    </header>
    <div>
        <main>
            <p class="announcement error">
                {{:message}}
            </p>
            <p class="data">
                {{:errorCode}}: {{:error}}
            </p>
        </main>
        {{if status}}
        <aside>
            <article>
                <header>
                    <h2>Who's online?</h2>
                    <div class="data">{{:status.playerCount}}/{{:status.playerMax}}</div>
                </header>
                <main>
                    <ul>
                        {{for status.players}}
                        <li class="data">{{:#data}}</li>
                        {{/for}}
                    </ul>
                </main>
            </article>
            {{/if}} {{if user.error}}
            <article>
                <header>
                    <h2>Register to play</h2>
                </header>
                <main>
                    <p class="error">
                        The database might be on fire. At least, we can't connect to it to update your registration.
                    </p>
                    <p>
                        Please let an administrator know that you are seeing this message.
                    </p>
                </main>
            </article>
            {{else user.authenticated == false}}
            <article>
                <header>
                    <h2>Register to play</h2>
                </header>
                <main>
                    <form action="https://login.microsoftonline.com/wpi.edu/oauth2/authorize" method="GET">
                        <input type="hidden" name="client_id" value="298a9688-c92e-4f8f-bc8c-baddcc5d1970">
                        <input type="hidden" name="response_type" value="code">
                        <input type="hidden" name="redirect_url" value="http%3A%2F%2Flocalhost%3A8080">
                        <input type="hidden" name="response_mode" value="form_post">
                        <input type="hidden" name="domain_hint" value="wpi.edu">
                        <input type="hidden" name="scope" value="User.Read">
                        <p>
                            Log in with your WPI account to register or change your password.
                        </p>
                        <div class="buttons">
                            <input type="submit" value="Login">
                        </div>
                    </form>
                </main>
            </article>
            {{else user.canPlay == false}}
            <article>
                <header>
                    <h2>Register to play</h2>
                </header>
                <main>
                    <p>
                        You are not allowed to play. Please contact an administrator if you'd like to.
                    </p>
                </main>
            </article>
            {{else user.registered == false}}
            <article>
                <header>
                    <h2>Register to play</h2>
                </header>
                <main>
                    <form action="/register" method="POST">
                        <p>
                            Select a username and password to play with. You can choose any username that you want, and shouldn't use your WPI password.
                        </p>
                        <div class="field">
                            <span class="label">Username</span>
                            <input name="username" type="text" placeholder="e.g. Gompei" autocomplete="false">
                        </div>
                        <div class="field">
                            <span class="label">Password</span>
                            <input name="password" type="password" placeholder="password" autocomplete="false">
                        </div>
                        <div class="buttons">
                            <input type="submit" value="Register">
                        </div>
                    </form>
                </main>
            </article>
            {{else user.registered == true}}
            <article>
                <header>
                    <h2>Change your password</h2>
                </header>
                <main>
                    <form>
                        <p>
                            You can change your password if you'd like. If you'd like to change your username, please contact an administrator.
                        </p>
                        <div class="field">
                            <span class="label">Username</span>
                            <input name="username" type="text" placeholder="username" value="{{:user.username}}" autocomplete="false" disabled>
                        </div>
                        <div class="field">
                            <span class="label">Password</span>
                            <input name="password" type="password" placeholder="password" autocomplete="false">
                        </div>
                        <div class="buttons">
                            <input type="submit" value="Update">
                        </div>
                    </form>
                </main>
            </article>
            {{/if}}
        </aside>
    </div>
</body>

</html>